*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: rgba(204,204,204,0.5);
    /*height: 1500px;*/
}
/*导航开始*/
nav{
    width: 100%;
    height: 75px;
    min-height: 75px;
    margin-bottom: 0px;
    box-shadow: 0px 1px 10px #ccc;
    background-color: #000;
}
.row{
    width: 1220px;
    height: 75px;
    background-color: #000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.row .navleft{
    width: 180px;
    height: 75px;
    padding-top: 6px;
    box-sizing: border-box;
}
.row .navleft img{
    width: 180px;
    height: 60px;
}
.row .navright{
    width: 212px;
    height: 75px;
    display: flex;
}
.row .navright>li{
    width: 106px;
    height: 75px;
}
.row .navright>li>a{
    display: block;
    width: 106px;
    padding: 0 24px;
    height: 75px;
    line-height: 75px;
    font-size: 14px;
    color: #c8c8c8;
}
.row .navright li:hover a{
    color: #ffffff;
}
.gudi{
    width: 100%;
    height: 62px;
    position: fixed;
    background: #f8f8f8;
    top: -62px;
    left: 0;
    z-index: 1;
}
.content-nave .content-navebox1{
    width: 160px;
    height: 0px;
    background: #ffffff;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 1;
    transition: all 0.2s;
    overflow: hidden;
}
.content .content-nave .content-navebox1 li{
    width: 160px;
    height: 38px;
    /*text-align: center;*/
    line-height: 38px;
    /*color: #666666;*/
    font-size: 14px;
    margin: 2px 0;
}
.content .content-nave .content-navebox1 li>a{
    padding: 8px 15px;
    color: #666666;
}
.content .content-nave .content-navebox1 li:hover{
    background: #ededed;
}
.content-nave .content-gushibox1{
    width: 160px;
    height: 0px;
    background: #ffffff;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 1;
    transition: all 0.2s;
    overflow: hidden;
}
.content .content-nave .content-gushibox1 li{
    width: 160px;
    height: 38px;
    /*text-align: center;*/
    line-height: 38px;
    /*color: #666666;*/
    font-size: 14px;
    margin: 2px 0;
}
.content .content-nave .content-gushibox1 li>a{
    padding: 8px 15px;
    color: #666666;
}
.content .content-nave .content-gushibox1 li:hover{
    background: #ededed;
}
.content-nave .content-gushibox1{
    width: 160px;
    height: 0px;
    background: #ffffff;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 2;
    transition: all 0.2s;
    overflow: hidden;
}
.content .content-nave .content-gushibox1 li{
    width: 160px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    margin: 2px 0;
}
.content .content-nave .content-gushibox1 li>a{
    padding: 8px 15px;
    color: #666666;
}
.content .content-nave .content-gushibox1 li:hover{
    background: #ededed;
}
.content-nave .content-hulibox1{
    width: 160px;
    height: 0px;
    background: #ffffff;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 1;
    transition: all 0.2s;
    overflow: hidden;
}
.content .content-nave .content-hulibox1 li{
    width: 160px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    margin: 2px 0;
}
.content .content-nave .content-hulibox1 li>a{
    padding: 8px 15px;
    color: #666666;
}
.content .content-nave .content-hulibox1 li:hover{
    background: #ededed;
}
.content .content-nave li:hover>a{
    color: #62a8ea;
}
header{
    width: 100%;
    height: 62px;
}
.content{
    width: 1220px;
    height: 62px;
    margin: 0 auto;
}
.content .content-nave{
    width: 100%;
    height: 100%;
}
.content .content-nave>li{
    width: 96px;
    height: 62px;
    float: left;
    padding: 20px 20px 20px 0px;
    box-sizing: border-box;
    position: relative;
}
.content .content-nave>li>a{
    color: #666;
    font-size: 14px;
    font-weight: bold;
}
.content-nave .content-navebox{
    width: 160px;
    height: 0px;
    background: #ffffff;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 1;
    transition: all 0.2s;
    overflow: hidden;
}
.content .content-nave .content-navebox li{
    width: 160px;
    height: 38px;
    /*text-align: center;*/
    line-height: 38px;
    /*color: #666666;*/
    font-size: 14px;
    margin: 2px 0;
}
.content .content-nave .content-navebox li>a{
    padding: 8px 15px;
    color: #666666;
}
.content .content-nave .content-navebox li:hover{
    background: #ededed;
}
.content-nave .content-gushibox{
    width: 160px;
    height: 0px;
    background: #ffffff;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 1;
    transition: all 0.2s;
    overflow: hidden;
}
.content .content-nave .content-gushibox li{
    width: 160px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    margin: 2px 0;
}
.content .content-nave .content-gushibox li>a{
    padding: 8px 15px;
    color: #666666;
}
.content .content-nave .content-gushibox li:hover{
    background: #ededed;
}
.content-nave .content-hulibox{
    width: 160px;
    height: 0px;
    background: #ffffff;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 1;
    transition: all 0.2s;
    overflow: hidden;
}
.content .content-nave .content-hulibox li{
    width: 160px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    margin: 2px 0;
}
.content .content-nave .content-hulibox li>a{
    padding: 8px 15px;
    color: #666666;
}
.content .content-nave .content-hulibox li:hover{
    background: #ededed;
}
.content .content-nave li:hover>a{
    color: #62a8ea;
}
.news{
    width: 100%;
    height: 59px;
    /*background: #fff;*/
    border-top: 1px solid #d8d8d8;
}
.news .ne{
    width: 1220px;
    height: 100%;
    /*background: #fff;*/
    margin: 0 auto;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.news .ne p{
    text-decoration: none;
    padding-right: 20px;
    /*display: block;*/
    font-size: 12px;
    color: #999;
    font-weight: normal;
}
.news .ne p:hover{
    color: #5079d9;
}
section{
    width: 100%;
    height: 508px;
}
.contanter{
    width: 800px;
    height: 508px;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}
.mtform{
    width: 738px;
    height: 446px;

}
.form-group{
    width: 738px;
    height: auto;
    margin-bottom: 20px;
}
input{
    display: block;
    width: 100%;
    /*height: 100%;*/
    background: #fff;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border: #ccc solid 1px;
    border-radius: 6px;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 6px 15px;
    box-sizing: border-box;
    color: #76838f;
}
textarea{
    width: 738px;
    height: 194px;
    background: #fff;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border: #ccc solid 1px;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding: 6px 15px;
    box-sizing: border-box;
    color: #76838f;

}
.mtform .form-group:nth-child(4) input{
    width: 528px;
    float: left;
}
.spans{
    width: 191px;
    height: 50px;
    background: #fff;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border: #ccc solid 1px;
    border-radius: 6px;
    float: right;
    /*z-index: 1px;*/
}
span img{
    /*display: block;*/
    width: 100%;
}
 .baocun{
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    color: #fff;
    background-color: #337ab7;
    border: none;
    outline: none;
     margin-top: 22px;
     border-radius: 10px;
}
footer{
    width: 100%;
    height: 100px;
    padding: 100px 0 32px 0;
    border-top: 1px solid #cccccc;
    margin-top: 30px;
    background: #ffffff;
}
.footer-nav{
    width: 1220px;
    height: 141px;
    margin: 0 auto;
    /*padding: 0 15px;*/
    /*box-sizing: border-box;*/
    display: flex;
    justify-content: space-between;
}
.footer-navelift{
    width: 784px;
    height: 125px;
    display: flex;
    justify-content: space-between;
}
.footer-navelift li{
    width: 130px;
    height: 106px;
}
.footer-navelift li h4{
    font-size: 14px;
    color: #646464;
    margin: 0px;
    text-shadow: none;
    padding: 0 0 14px;
    text-align: center;
}
.footer-navelift li a{
    display: block;
    width: 100px;
    height: 72px;
    text-align: center;
    padding-left: 12px;
    margin-bottom: 3px;
}
.footer-navelift li a p{
    font-size: 12px;
    color: #969696;
    text-align: center;
    padding-bottom: 5px;
}
.footer-navelift li a p:hover{
    color: #5079d9;
}
.footer-navright{
    width: 376px;
    height: 141px;
}
.footer-navright h3{
    text-align: right;
    font-size: 30px;
    color: #646464;
    padding-bottom: 10px;
}
.footer-navright p{
    color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    padding-bottom: 10px;
}
.footer-navright a{
    float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
}
.footer-navright a .icon-yiwen{
    font-size: 16px;
    cursor: pointer;
    color: #5079d9;
    margin-right: 2px;
    top: 0px;
    position: relative;
    box-sizing: content-box;
}
.footter-contariner{
    width: 1220px;
    height: 42px;
    margin: 0 auto;
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.footter-contariner p{
    width: 800px;
    height: 24px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #757575;
    font-weight: 400;
    float: left;
}
.foot-contarinerright{
    width: 127px;
    height: 34px;
    float: right;
    /*background: red;*/
}
.foot-contarinerright .but-button{
    display: block;
    width: 127px;
    height: 34px;
    border: none;
    background: none;
    color: #45474b;
    font-size: 13px;
    font-weight: normal;
}
.but-button:focus{
    outline: none;
}
.foot-contarinerright .but-button .dianjibu{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 34px;
    position: relative;
}
.foot-contarinerright .but-button .dianjibu .dianjibox{
    width: 120px;
    height: 126px;
    background: #ffffff;
    position: absolute;
    bottom: 34px;
    left: 0;
    /*什么写法*/
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 20px 40px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: none;
}
.foot-contarinerright .but-button .dianjibu .dianjibox li{
    width: 120px;
    height: 36px;
    margin-top: 4px;
}
.foot-contarinerright .but-button .dianjibu .dianjibox li:hover {
    background: #ededed;
}
.foot-contarinerright .but-button span{
    margin-right: 5px;
    font-size: 14px;
    color: #424242;
}
.foot-contarinerright .but-button a i.icon-f11-copy{
    margin-right: 5px;
    color: #424242;
    transition: all .3s;
    float: right;

}
/*没出效果*/
.foot-contarinerright .but-button a:hover i.icon-f11-copy{
    display: block;
    transform: rotate(-180deg);
    /*color: #fc1d1f;*/
}